<!DOCTYPE html>
<head>
    <title>Thank You</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <div class="app">
        <h2>Thank You!</h2>
        <p>Your feedback has been submitted successfully.</p>
        <p>Have a good time in the campus and all the best for your career</p>
        <br>
    </div>
    <div class="footer">
        <p>&copy; PG affairs council</p>
        <p>mail-at: <a href="mailto:pg-sec@iitpkd.ac.in">pg-sec@iitpkd.ac.in</a></p>
        <p> Source code: <a href="https://github.com/sudi050/IITPKD_Campus_Tour">Github</a></p>
    </div>
</div>
</body>
</html>